body {
    margin: 0 auto;
    background-image: url(../img/wordle.png);
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #187015;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #3a8a26;
}

#wordle-game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 4px;
    margin: 3px;
    font-size: 3rem;
    font-weight: bold;
    height: 4rem;
    width: 4rem;

}

.game-row {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 1em 3em;
    padding: 0.5em 1em;
    align-items: center;
    appearance: none;
    background-color: rgb(249, 237, 216);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 24px;
}

.buttons button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.buttons button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.buttons button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.buttons button:disabled {
    box-shadow: none;
    transform: none;
}